
 
.topnav { 
    background-color:rgb(85, 201, 162); 
    overflow: hidden; 
  } 
   
 
.topnav a { 
    float: left; 
    color:#333; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
    font-size: 17px; 
  } 
   
 
.topnav a:hover { 
    background-color: #ddd; 
    color: black; 
  } 

  body{ 
    background-color: #333; 
} 
 
.container img{ 
    width: 600px; 
    border-radius: 50px; 
} 
 
h1{ 
      color:darkcyan; 
  } 
 
h2{ 
    color: darkcyan; 
  } 
 
p{ 
    color: darkgrey; 
}
.container { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 1em; 
    grid-template-rows: minmax(10px auto); 
    padding: 10px; 
    
  } 
  .container div { 
    background: #f0e6e6; 
    padding: 2em; 
     
  } 
  .container div:hover { 
    border: 2px solid rgb(56, 8, 8); 
  }
@media screen and (max-width: 600px) {
.container { 
      display: grid; 
      grid-template-columns: repeat(1, 1fr); 
      grid-gap: 1em; 
      grid-template-rows: minmax(50px auto); 
      padding: 10px; 
      margin: 10px; 
    } 

    .container div { 
      background: #6430a7; 
      padding: 1em; 
    } 

    .container div:hover { 
      border: 2px solid rgb(42, 16, 90); 
    } 
 
    .menu a { 
      float: none; 
      width: 100%; 
    }

    @media screen and (max-width: 600px) { 
        body { 
          background-image: url("fondo2.jpg"); 
          background-color: #172e47; 
        } 
         
        img { 
          display: block; 
          border: 2px solid whitesmoke; 
          border-radius: 12px; 
          padding: 10px; 
          width: 90%; 
          margin:10px; 
        } 
        p { 
            font-size: 24px; 
           
          } 
          h2 { 
            font-size: 25px; 
            font-family: Georgia, "Times New Roman", Times, serif; 
            border: 10px inset rgb(161, 49, 15); 
            color: rgb(12, 5, 53); 
             
            padding: 10px 10px 10px 20px; 
            margin: 10px; 
          } 
         
          .container { 
            display: grid; 
            grid-template-columns: repeat(1, 1fr); 
            grid-gap: 1em; 
            grid-template-rows: minmax(50px auto); 
            padding: 10px; 
            margin:10px; 
          } 

          .container img{
              max-width: 100%;
          }

          .vid video{
              
              max-width: 100%;
             

          }

          .container div { 
            background: #6430a7; 
            padding: 1em; 
          } 
          .container div:hover { 
            border: 2px solid rgb(42, 16, 90); 
          } 
       
          .menu a { 
            float: none; 
            width: 100%; 
            margin: 2px; 
            padding: 6px 16px; 
            font-size: 16px; 
          }

    

}

@media screen and (max-width: 360px) { 
    body { 
      background-image: url("fondo2.jpg"); 
      background-color: #172e47; 
    } 
     
    img { 
      display: block; 
      border: 2px solid whitesmoke; 
      border-radius: 12px; 
      padding: 10px; 
      width: 90%; 
      margin:10px; 
    } 
    p { 
        font-size: 24px; 
       
      } 
      h2 { 
        font-size: 25px; 
        font-family: Georgia, "Times New Roman", Times, serif; 
        border: 10px inset rgb(161, 49, 15); 
        color: rgba(23, 127, 105, 0.792); 
         
        padding: 10px 10px 10px 20px; 
        margin: 10px; 
      } 
     
      .container { 
        display: grid; 
        grid-template-columns: repeat(1, 1fr); 
        grid-gap: 1em; 
        grid-template-rows: minmax(50px auto); 
        padding: 10px; 
        margin:10px; 
      } 

      .container img{
          max-width: 100%;
      }

      .vid video{
          
          max-width: 100%;
         
      }

      .container div { 
        background: #6430a7; 
        padding: 1em; 
      } 
      .container div:hover { 
        border: 2px solid rgb(42, 16, 90); 
      } 
   
      .menu a { 
        float: none; 
        width: 100%; 
        margin: 2px; 
        padding: 6px 16px; 
        font-size: 16px; 
      }

      .clon video{
          max-width: 100%;
        
      }

      iframe{
          max-width: 100%;
        
         
      }


}


.vid{
    margin-left: 0rem ;
    margin-top: 2rem;
}
  

}

footer{
    padding: 20px;
    position: relative;
    color: rgba(6, 29, 22, 0.962);
    background-color:rgba(255, 248, 220, 0.615);

}
